* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
}

header h1 {
	font-size: 60px;
	color: black;
}

header,
form {
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.todo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-list {
	min-width: 700px;
	width: auto;
	list-style: none;
}

.todo {
	margin: 1rem;
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
	background: white;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.5s ease;
}

.todo li {
	flex: 1;
	text-align: center;
}

.completed {
	text-decoration: line-through;
	opacity: 0.5;
}

.select {
	margin-left: 20px;
}

.hide{
	position: absolute;
	top:40px;
	width: 700px;
	opacity: 0;
	transition: 0.5s ease;
}

.error{
	position: absolute;
	top:40px;
	width: 700px;
	transition: 0.5s ease;
}